@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Figtree";
  src: url("/assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}

@layer components {

  /* View */
  .base-container {
    @apply pt-6 sm:pt-6 md:pt-8 lg:pt-10 xl:pt-10 min-h-screen;
  }

  .base-grid {
    @apply grid md:grid-cols-1 lg:grid-cols-2 auto-cols-fr mb-auto h-full gap-0;
  }

  
  /* Menu */
  .menu-button-base {
    @apply text-blue-800 text-2xl sm:text-xl md:text-2xl lg:text-2xl xl:text-3xl uppercase;
  }

  .sub-menu-button-base {
    @apply text-blue-800 text-xl sm:text-xl md:text-xl lg:text-xl xl:text-2xl 2xl:text-2xl uppercase;
  }

  .menu-button {
    @apply menu-button-base hover:text-blue-200 transition duration-300 ease-in-out;
  }

  .menu-button-mobile {
    @apply menu-button-base hover:text-blue-200 ;
  }

  .sub-menu-button-mobile {
    @apply sub-menu-button-base ;
  }  

  .contact-button {
    @apply menu-button-base ;
  }

    /* Menu button style for /live page */
  .menu-button-live {
    @apply menu-button-base hover:text-ioai-200  transition duration-300 ease-in-out;
  }

  .menu-button-home {
    @apply menu-button-base 
  }



  .home-heading {
    @apply menu-button-base text-red-900;
  }

  .home-subheading {
    @apply text-xs sm:text-sm md:text-lg lg:text-lg font-bold uppercase text-red-900;
  }  


  /* Basic Text Generators */
  .basic-text {
    @apply sm:text-sm md:text-base font-light text-wrap;
  }

  .basic-heading {
    @apply text-base sm:text-base md:text-lg lg:text-xl xl:text-xl text-gray-900 font-bold uppercase;    
  }



  .info-title {
    @apply text-xl sm:text-2xl md:text-2xl lg:text-3xl xl:text-3xl font-semibold text-left sm:text-left md:text-left lg:text-center;
  }

  .info-subtitle {
    @apply text-lg sm:text-xl md:text-xl lg:text-2xl xl:text-2xl font-semibold text-left sm:text-left md:text-left lg:text-center;
  }

  .info-heading {
    @apply mt-4 text-lg sm:text-xl md:text-2xl font-semibold uppercase ;
  }

  .heading-lg {
    @apply text-4xl font-extrabold text-gray-800;
  }

  .resume-heading {
    @apply project-category;
  }
  .resume-item {
    @apply basic-text font-semibold;
  }

  .resume-text {
    @apply basic-text;
  }

  .date {
    @apply basic-text font-semibold;    
  }

  .heading-md {
    @apply text-2xl font-semibold text-gray-800;
  }

  .heading-sm {
    @apply text-lg font-medium text-gray-600;
  }

  .project-category {
    @apply sub-menu-button-base font-semibold text-black border-b border-black mt-4;
  }

  .project-button-pulse {
    @apply resume-item hover:text-blue-300 transition;
  }

  .project-item {
    @apply basic-text font-semibold ;
  }

  .project-text {
    @apply basic-text;
  }

  .release-title {
    @apply text-gray-900 text-lg sm:text-lg md:text-xl lg:text-xl xl:text-xl font-semibold uppercase;
  }

  .release-subtitle {
    @apply text-gray-800 text-sm sm:text-lg md:text-lg lg:text-lg xl:text-lg font-semibold  italic uppercase;
  }

  .release-text {
    @apply basic-text text-balance;
  }

  .release-button {
    @apply font-semibold text-sm text-ioai-300  hover:text-green-700 transition duration-300 underline;
  }

  .live-text {
    @apply text-sm sm:text-sm md:text-lg lg:text-xl xl:text-xl font-medium uppercase text-white ;
  }

  .live-button {
    @apply text-sm sm:text-sm md:text-lg lg:text-xl xl:text-xl  font-medium text-ioai-300 hover:text-green-700 transition duration-300 uppercase underline;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .footer {
    @apply w-full p-4 border-t border-white flex flex-col sm:flex-row justify-center ;
  }
  
  .footer-link {
    @apply text-xs md:text-sm font-semibold text-gray-600 uppercase hover:underline;
  }
  
  .footer-text {
    @apply text-xs uppercase text-gray-400;
  }
}
